body{
    background: #000000;
    height: 100%;
    width: 100%;
}
.pane{
    background: #000000;
}
#signatureCanvas{
    background: #ffffff;
}
.left-btn{
    float: right;
}
#bottom-logo{
    position: absolute;
    margin-top: -79px;
}
