html,body{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-width: 100%;
    background: #000000;
    background-size: cover;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
}
#signature-area{
    max-width: 100%;
    max-height: 100%;
}
#col-1 img{
    float:right ;
}
#col-2 img{
    float:right ;
}
#col-3 img{
    float:right ;
}
#col-4 img{
    float:left ;
}
#col-5 img{
    float:left ;
}
#col-6 img{
    float:left ;
}
#col-7 img{
    float:left ;
}
#col-8 img{
    float:left ;
}
#count{
    color: #ffffff;
    margin-top: -10px;
    font-size: 18px;
}
