<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src='lib/signature_pad/signature_pad.js'></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
 <body ng-app='starter' ng-controller='SignatureCtrl'>
 
    <ion-pane>
      <ion-content class='padding' scroll='false'>
      <form>
          <center>
              <canvas id='signatureCanvas' width='945' height='650' style='border: 1px solid black;'></canvas>
              <!--canvas id='signatureCanvas' width='500' height='300' style='border: 1px solid black;'></canvas-->
          </center>
          <div class="row">
              <div class="col col-25">
                  <img src="img/logo.png" id="bottom-logo">
              </div>
              <div class="col col-25">
                  <a class='button-cust left-btn' ng-click='clearCanvas()'><img src="img/btn-retry.png"></a>
              </div>
              <div class="col col-25">
                  <a class='button-cust right-btn' ng-click='saveCanvas()'><img src="img/btn-ok.png"></a>
              </div>
              <div class="col col-25">
                  <div class="col-demo">&nbsp;</div>
              </div>
          </div>
      </form>
      </ion-content>
    </ion-pane>
  </body>
</html>
